<form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Detalii</mat-label>
      <input matInput #message maxlength="30" placeholder="Ai putea sa stai si acasa."  >
      <mat-hint align="start"><strong>Explica unde mergi si de ce</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 30</mat-hint>
    </mat-form-field>
<!-- 
    <mat-form-field appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea matInput #message maxlength="30" placeholder="Ai putea sa stai si acasa."  [(ngModel)]="value"></textarea>
        <mat-hint align="start"><strong>Explica unde mergi si de ce</strong> </mat-hint>
      <mat-hint align="end">{{message.value.length}} / 30</mat-hint>
    </mat-form-field> -->
  </form>