<div>

  <app-header></app-header>
  <br>
  <h1>{{ date | uppercase }}</h1>

  <!-- <app-nume></app-nume>  -->
  
  <!-- <app-date></app-date> -->



  <form (ngSubmit)="onSubmit(user)" [formGroup]="form">

    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label for="lastName">Nume</mat-label>
        <input matInput type="text" id="lastName" class="form-control" formControlName="lastName">
       </mat-form-field>
    </div>
  
    <div class="example-container">
      <mat-form-field appearance="fill">
        <mat-label for="firstName">Prenume</mat-label>
        <input matInput type="text" id="firstName" class="form-control" formControlName="firstName">
       </mat-form-field>
    </div>
<!--   
    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
      Submit
    </button> -->
  



  <label id="example-radio-group-label"><b>Alegeti motivul deplasarii : </b></label>
    <mat-radio-group
    formControlName="radio"
      aria-labelledby="example-radio-group-label"
      class="example-radio-group"
      [FormControl]="motiv">
      <mat-radio-button class="example-radio-button" *ngFor="let one of motiveList" [value]="one" >
    {{one}}
      </mat-radio-button>
    </mat-radio-group>
    

    <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
      Submit
    </button>
   

  
<div><b> Motivul deplasarii este : </b> {{motiv}}</div>
</form>
  <br>
  <h3>{{ explicatie | uppercase }}</h3>
  <app-descriere></app-descriere>
  <br>
  <br>

  
</div>  
